@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: Italianno;
    src: url(./fonts/Italianno/Italianno-Regular.ttf);
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: rgba(0, 0, 0, 0.267);
    font-family: 'Roboto', sans-serif;
    background-image: url(./images/body-bg-5332x3000.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* display: flex;
    flex-direction: column; */
}


.header {
    height: max(32vh, 200px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-family: Italianno;
    font-size: 100px;
}

ul.navigation {
    list-style: none;
    font-size: 24px;
    display: flex;
    gap: 20px;
}

li.nav-item {
    padding: 10px 5px;

    cursor: pointer;
    user-select: none;
}

li.nav-item.active {
    border-bottom: 3px white solid;
}

li.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}








.main-container {
    width: max(60%, 310px);
    margin: 20px auto;
    text-align: center;
    padding: 40px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    line-height: 28px;
}

.home-steak-gif {
    width: min(100%, 380px);
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
}

.menu-tab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.menu-item {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    user-select: none;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.menu-img {
    width: 100%;
    height: 80%;
    border-radius: 10%;
}













footer.footer {
    /* position: absolute;
    bottom: 0px;
    width: 100vw; */
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px 0;
}