@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: rgba(0, 0, 0, 0.267);
    /* background-image: url(./images/body-bg-5332x3000.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    font-family: 'Roboto', sans-serif;
}

.header {
    height: max(32vh, 200px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-family: 'Italianno', cursive;
    font-size: 100px;
}

ul.navigation {
    list-style: none;
    font-size: 22px;
}

.navigation li {
    display: inline-block;
    padding: 15px;
}

